{# employeepage/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Hello EmployeepageController!{% endblock %}

{% block body %}
<style>

    .sale-sign {
    position: absolute;
    top: 10px; /* Adjust position as needed */
    right: 10px; /* Adjust position as needed */
    background-color: red; /* Background color of the sale sign */
    color: white; /* Text color of the sale sign */
    padding: 5px 10px; /* Padding of the sale sign */
    border-radius: 50%; /* Rounded shape for the sale sign */
}

.sale-sign::after,
.sale-sign::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent red transparent;
    top: -20px; /* Adjust position as needed */
    left: calc(50% - 10px); /* Center horizontally */
}

.sale-sign::before {
    transform: rotate(45deg);
}

.sale-sign::after {
    transform: rotate(-45deg);
}



    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #top-right {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 8px; /* Adjust as needed */
        margin-right: 16px; /* Adjust as needed */
    }

    #top-right .navbar-text {
        margin-right: 8px; /* Adjust as needed */
    }

    #top-right .btn {
        margin-left: 8px; /* Adjust as needed */
    }
    .navbar-text {cursor: pointer;}
.dropdown-menu {
    min-width: 120px; /* Set the minimum width of the dropdown menu */
}
/* Custom CSS for Styled Select */
.custom-select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}

.blue-line {
    border-top: 2px solid blue; /* Blue line */
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the line */
}


.custom-select:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* Custom CSS for Online Status Dot */
/* Custom CSS with Adjusted Green Dot Position */
.online-dot {
    width: 8px;
    height: 8px;
    background-color: #28a745; /* Green color */
    border-radius: 50%; /* Circular shape */
    display: inline-block;
}

.form-group {
    margin-bottom: 0;
}


.custom-select {
    padding-right: 2rem;
}

.transparent-bg {
    background-color: transparent !important; /* Set background to transparent */
    border: none; 
    outline: none;
}


/* Custom CSS to make product cards same height */
.card {
    height: 100%; /* Ensure all cards have the same height */
}

.card-img-top {
    height: 200px; /* Set the height of the product images */
    object-fit: cover; /* Ensure the image covers the entire card */
}

.card-title {
    min-height: 3rem; /* Set a minimum height for the card title */
}

.card-text {
    min-height: 2rem; /* Set a minimum height for the card text */
}

  /* Custom CSS to adjust the width of the container */
    .home .container {
        max-width: 800px; /* Set the maximum width of the container */
        margin: 0 auto; /* Center the container horizontally */
    }
     /* Custom CSS to remove border around the card and center text */
    .home .card {
        border: none; /* Remove border */
    }
    
    .home .card-body {
        text-align: center; /* Center text within the card body */
    }
     /* Custom CSS for positioning text in front of the middle of the image */
    .home .card {
        border: none; /* Remove border */
        position: relative; /* Set position relative for absolute positioning */
        overflow: hidden; /* Hide overflow to prevent text from overflowing */
    }
    
    .home .card-body {
        position: absolute; /* Set position absolute */
        top: 50%; /* Position from the top */
        left: 50%; /* Position from the left */
        transform: translate(-50%, -50%); /* Center horizontally and vertically */
        background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
        padding: 20px; /* Add padding */
        text-align: center; /* Center text */
    }

    .new-sign {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}


</style>

<!-- Header Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"> <!-- Added fixed-top class -->
    <div class="container">
        <a class="navbar-brand" href="{{ path('employeepage') }}">tijara</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#featured">Featured</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#new">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"></a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" href="{{ path('all_products') }}" style="color: blue;">View All Products</a>
                </li>
            </ul>
            <div id="top-right" class="ml-auto d-flex align-items-center">
                <form action="{{ path('logout') }}" method="get" class="d-flex align-items-center">
                    <span class="online-dot mr-3"></span> <!-- Increased margin-right -->
                    <div class="form-group mb-0">
                        <select class="form-control custom-select transparent-bg" onchange="this.form.submit()">
                            <option selected disabled>{{ login_name }}</option>
                            <option value="{{ path('logout') }}">Logout</option>
                        </select>
                    </div>
                </form>
                <a class="btn btn-primary ml-2" href="{{ path('cart') }}" role="button">Cart</a>
            </div>
        </div>
    </div>
</nav>


<!-- Product Details Section -->
<section class="home section" id="home" style="margin-top: 120px;"> 
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="{% if latestProduct is defined %}{{ latestProduct.imageUrl }}{% endif %}" class="img-fluid" alt="Latest Product Image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-light"> <!-- Added bg-light class to set background color to grey -->
                    <div class="card-body">
                        <h5 class="card-title" style="display: inline;">Brand New Product</h5> <!-- Added inline display style -->
                        <p class="card-text" style="display: inline;">Newly Arrived Product</p> <!-- Added inline display style -->
                        <br>
                        {% if latestProduct is defined %}
                            <br>
                            <h5 class="card-title" style="display: inline;">{{ latestProduct.libArt }}</h5> <!-- Added inline display style -->
                            <p class="card-text">Price: {{ latestProduct.prixArt }}</p>
                            <!-- Add the View button -->
                            <a href="{{ path('product_details', {'id': latestProduct.id}) }}" class="btn btn-outline-info">View</a>
                        {% else %}
                            <p class="card-text">No product available</p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Featured Section -->
<section class="featured section container" id="featured" style="margin-top: 120px;">
    <div class="text-center mb-4">
        <hr class="blue-line"> <!-- Blue line -->
        <br>
        <h2>FEATURED</h2>
    </div>
    <br>
    <div class="row">
        {% for product in featuredProducts %}
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{{ product.imageUrl }}" class="card-img-top" alt="Product Image" style="height: 150px;">
                    <div class="card-body position-relative">
                        <h5 class="card-title">{{ product.libArt }}</h5>
                        <p class="card-text">Price: {{ product.prixArt }}</p>
                        <!-- Add the View button -->
                        <a href="{{ path('product_details', {'id': product.id}) }}" class="btn btn-outline-info">View</a>
                        <span class="sale-sign">SALE</span> <!-- Sale sign -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>



<!-- Products Section -->
<section class="products section container" id="products" style="margin-top: 120px;">
    <div class="text-center mb-4">
        <hr class="blue-line"> <!-- Blue line -->
        <br>
        <h2>Products</h2>
    </div>
    <br>
    <div class="row">
        {% for product in products|slice(0, 8) %} {# Display only 8 products #}
            <div class="col-md-3 mb-4"> <!-- Adjusted column size to fit 4 products per row -->
                <div class="card h-100"> <!-- Added h-100 class -->
                    <img src="{{ product.imageUrl }}" class="card-img-top" alt="Product Image" style="height: 150px;"> <!-- Adjusted height of the product image -->
                    <div class="card-body text-center"> <!-- Added text-center class to center align content -->
                        <h5 class="card-title">{{ product.libArt }}</h5>
                        <p class="card-text">Price: {{ product.prixArt }}</p>
                        <!-- Add the View button -->
                        <a href="{{ path('product_details', {'id': product.id}) }}" class="btn btn-outline-info">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center mt-4">
        <a href="{{ path('all_products') }}" class="btn btn-primary btn-lg wider-button">View All Products</a> <!-- Added wider-button class -->
    </div>
</section>





<section class="new section container" id="new" style="margin-top: 140px;">
    <div class="text-center mb-4">
        <hr class="blue-line"> <!-- Blue line -->
        <br>
        <h2>NEW ARRIVALS</h2>
    </div>
    <br>
    <div class="row">
        {% for product in lastAddedProducts %}
            <div class="col-md-3 mb-4"> <!-- Adjusted column size to fit 4 products per row -->
                <div class="card h-100"> <!-- Added h-100 class -->
                    <img src="{{ product.imageUrl }}" class="card-img-top" alt="Product Image" style="height: 150px;"> <!-- Adjusted height of the product image -->
                    <div class="card-body text-center"> <!-- Added text-center class to center align content -->
                        <h5 class="card-title">{{ product.libArt }}</h5>
                        <p class="card-text">Price: {{ product.prixArt }}</p>
                        <a href="{{ path('product_details', {'id': product.id}) }}" class="btn btn-outline-info">View</a> <!-- Add the View button -->
                        <span class="new-sign">NEW</span> <!-- New sign -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>


<footer class="text-center bg-body-tertiary" style="margin-top: 140px;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
</svg></a>

      <!-- Twitter -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
</svg></a>

      <!-- Google -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
  <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
</svg></a>

      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
  <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
</svg></a>

      <!-- Linkedin -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
</svg></a>
      <!-- Github -->
      <a
        data-mdb-ripple-init
        class="btn btn-link btn-floating btn-lg text-body m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
</svg></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 tijara. All Rights Reserved.</p>
            </div>
        </div>
    </div>
  <!-- Copyright -->
</footer>



{% endblock %}
