{% extends 'base.html.twig' %}

{% block title %}Internaute List{% endblock %}
{% block stylesheets %}
    <style>
        .custom-list-group {
            background-color: #f8f9fa; /* Set your desired background color */
             border-radius: 0;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <!-- Dashboard Navigation Bar -->
    <div class="row">
        <div class="col-md-2 p-0">
            <div class="list-group custom-list-group h-100 d-flex flex-column">
                <a href="{{ path('app_adminpage') }}" class="list-group-item list-group-item-action active">
                    Dashboard
                </a>
                <a href="{{ path('article_list') }}" class="list-group-item list-group-item-action">
                    Article List
                </a>
                <a href="{{ path('internaute_list') }}" class="list-group-item list-group-item-action">
                    Internaute List
                </a>
                <div class="dropdown mt-auto">
                    <a href="#" class="list-group-item list-group-item-action dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi,  {{ login_name }}!
                    </a>
                <a href="{{ path('logout') }}" class="list-group-item list-group-item-action">Logout</a>
                </div>
            </div>
        </div>
        <!-- Main Content Area -->
        <div class="col-md-10">
            <div class="container">
                <h1 class="text-center">Internaute List</h1>

                <form method="get" action="{{ path('app_internaute_list') }}">
                    <div class="form-outline" data-mdb-input-init>
                        <input type="search" class="form-control" placeholder="search" aria-label="Search" name="q" />
                        </br>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a href="{{ path('app_internaute_list') }}" class="btn btn-secondary">Clear</a>
                </form>

                </br>
                <div class="row justify-content-center">
                    {% for internaute in internautes %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ internaute.login }}</h5>
                                <p class="card-text">Country: {{ internaute.pays }}</p>
                                <p class="card-text">Date of Inscription: {{ internaute.dateInscrip|date('Y-m-d H:i:s') }}</p>
                                <a href="{{ path('app_internaute_panier', {'id': internaute.id}) }}" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
